// SCSS stylesheet
$color:red;
.h1,.h2,.h3,.h4,.h5,.h6{
  font-weight:bold;
  text-decoration: underline;
  color:$color;
}

table{
  .btn:hover{
    background-color:$color;
  }
  
}
tr,td,th {
  @extend table;
  text-align: center;
  border:1px solid black;
  border-collapse: collapse;
  // padding-left: ;
}